@import "@blueprintjs/core/lib/scss/variables";

.form-container {
  width: 700px;

  .select-container {
      margin: 30px 0 30px 0;
  }

  .mailto-link {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      text-decoration: none;
  }
}
