/* @import "@blueprintjs/core/lib/scss/variables"; */

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;

    .group-button-area {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        .group-button {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 152px;
            margin: 5px;
        }
    }
}

.mailto-link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.menu-item-selected {
    background-color: #202B33;
}
