@import "@blueprintjs/core/lib/scss/variables";

.form-container {
  width: 300px;

  .input-container {
      margin-bottom: 30px;
  }

  .mailto-link {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      text-decoration: none;
  }
}
